<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CostControl.Properties.Settings.RMCostControlConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\成本控制软件\RMCostControl.mdb" providerName="System.Data.OleDb"/>
        <add name="CostControl.Properties.Settings.RMCostControlConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\App_Data\RMCostControl.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
